body
{
  background-color: rgb(149, 13, 75);
  text-align: center;
}

img
{
  width: 300px;
}

judul
{
  color:rgb(15, 221, 214) ;
  font-weight: bold;
  font-size: 50px;
  font-family: pacifico;
}

.subjudul{
  color: rgb(6, 210, 168);
  font-family: sans-serif;
  font-size: 35px;

}

.teks{
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(50, 157, 149)
}
